<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
        #allmap{width:100%;height:100%}
        p{margin-left:5px; font-size:14px;}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=b9DuG0VA5Hc7cpK5nlB7Vej7"></script>
    <script type="text/javascript" src="static/js/handlebars-v4.0.5.js"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <title>公司</title>
</head>
<body>
    <div id="allmap"></div>
</body>
</html>
{% verbatim %}

<script id="company_template" type="text/x-handlebars-template">
  <div class="entry">
    <h4><a href="http://www.lagou.com/gongsi/{{ cid }}.html" target="_blank">{{ name }}</a></h4>
    <div class="body">
          {{#each jobs}}
              <li><a href="http://www.lagou.com/jobs/{{positionId}}.html" target="_blank">{{ positionName }}</a>{{ workYear }} {{ salary }} </li>
          {{/each}}
    </div>
  </div>
</script>
{% endverbatim %}
<script type="text/javascript">
    // 百度地图API功能
    map = new BMap.Map("allmap");
    map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
    map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用
    map.centerAndZoom(new BMap.Point(116.417854,39.921988), 13);

    var company_list = {{ company_list | safe }};
    var opts = {
                width : 550,     // 信息窗口宽度
                height: 800,     // 信息窗口高度
                title : "信息窗口" , // 信息窗口标题
                enableMessage:true//设置允许信息窗发送短息
               };
    // 创建地址解析器实例
    var myGeo = new BMap.Geocoder();

    function get_point(company, func){
        if(company['lng'] != '' && company['lat'] != ''){
            point = new BMap.Point(company['lng'],company['lat']);
            func(company, point);
        }else{
            var keyword = null;
            if(!company['detailPosition'] in ["", null]){
                keyword = company['detailPosition']
            }else{
                keyword = company['companyShortName']
            }
            // 将地址解析结果显示在地图上,并调整地图视野
            myGeo.getPoint(keyword , function(point){
                 if (point) {
                     console.log("ok:" + keyword);
                     func(company, point);
                 }else{
                    console.log("fail!" + company['name'] + ":" + company['detailPosition']);
                 }
            }, "北京市");
        }
    }

    for(var i=0;i<company_list.length;i++){
        var company = company_list[i];
        function drawCompany(company, point) {
            var marker = new BMap.Marker(point);  // 创建标注
            var content = [company['name'], ',', "得分:", company['score']].join("");
            var label = new BMap.Label(content, {offset:new BMap.Size(20,-10)});
            marker.setLabel(label)
            map.addOverlay(marker);               // 将标注添加到地图中
            addClickHandler(company, marker);
        }
       get_point(company, drawCompany)
    }


    function addClickHandler(content, marker){
        marker.addEventListener("click",function(e){
            openInfo(content,e)}
        );
    }

    function getInfo(company, func){
        $.getJSON("rest/jobs/", {filter: JSON.stringify({companyId:company['cid']})},
                function(jobs){
                    company['jobs'] = jobs['results']
                    var source = $("#company_template").html();
                    var template = Handlebars.compile(source);
                    var html = template(company);
                    func(html);
                }
        );
    }

    function openInfo(company, e){
        getInfo(company, function (html) {
            var p = e.target;
            var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
            var infoWindow = new BMap.InfoWindow(html);  // 创建信息窗口对象
            map.openInfoWindow(infoWindow,point); //开启信息窗口
        });

    }
</script>
